---
layout: default
title: Code Samples
---
<h1>Code Samples</h1>

<p>
  This page contains various algorithms that solve interesting problems. 
</p>

{% for post in (site.posts | sort: 'date') %}
    {% if post.category == 'code' %}
        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>
    {% endif %}

{% endfor %}

<h1>Other Projects</h1>

  <p>
    The following are projects that usually took a weekend or so. The code is fairly cringey, but one has to start somewhere.
  </p>
{% for post in site.posts %}
    {% if post.category == 'hackathon' %}
        <h3>{{ post.title }}</h3>
        <p>{{ post.content }}</p>
    {% endif %}
    
{% endfor %}



